<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.org.gascylindermng">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:name=".api.MyAppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.org.gascylindermng"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity
            android:name=".activity.PrechargeCheckActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ChargeMissionListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ChargeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.CyListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ChargeCyListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.PostchargeCheckActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.SendCylinderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ReceiveCylinderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.CylinderInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.BindCodeToCyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.WarehouseTransActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.RepairActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.RegularInspectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ChangeMediumActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ScrapActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.ChargeCheckActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.PrechargeCheckBatchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.PostchargeCheckBatchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>
        <activity
            android:name=".activity.StockOutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait">
        </activity>
        <activity
            android:name=".activity.StockOutListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation = "portrait"  >
        </activity>

        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:screenOrientation = "portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>